*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
@font-face{
    font-family: 'Poppins', sans-serif;
    src: url(../library/Poppins/Poppins-Bold.ttf);
}
html{
    height: 100%;
}

body{
    height: 100%;
    max-height: fit-content;
    background-color: #f0eef1;
    color: #050505;
    display: grid;
    grid-template-rows: 10% 1fr 5%;
}

header{
    background-color: #fffbfb;
    width: 100%;
    display: flex;
    align-items: center;
}

main{
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.add{
    display: flex;
    justify-content: center;
}

.add button{
    background: none;
    border: none;
    font-size: 28px;
}


.books{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
    width: 70%;
    gap: 50px;
}

.book{
    background-color: #fffbfb;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    padding: 20px;
    border-radius: 10px;
}

.book button{
    font-size: 22px;
    border: none;
    width: 90%;
    height: 50px;
    border-radius: 10px;
}

.modal{
    background-color: #f0eef1;
   
    font-size: 24px;
    
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
   align-items: center;
   display: none;
   position: fixed;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    animation: animatetop;
    animation-duration: 0.5s
}

@keyframes animatetop {
    0% {
        transform: scale(0.5);
      }
      50% {
        transform: scale(1.2);
      }
      100% {}
   
  }

  .gone{
    animation: gone;
    animation-duration: 0.5s
  }
  @keyframes gone {
    100% {
        transform: scale(0);
        opacity: 0;
      }
      
      50% {
        transform: scale(1.2);
        opacity: 0.8;
      }
      0% {
        
      }
   
  }

.modal-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.modal-main input{
    height: 50px;
    width: 250px;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
   box-sizing: border-box;
   padding-left: 10px;
   outline: none;
}

.modal-check{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

#check{
    transform: scale(1.7);
}

#check:checked{
    filter: invert(100%) brightness(2);
}

#check:hover{
    cursor: pointer;
}

#submit{
    width: 250px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(159, 255, 156);
    font-size: 20px;
}

#submit:hover{
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-bg {
   
    display: grid; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }

  .modal-books {
   
    /* Hidden by default */
    /* Stay in place */
    z-index:1; /* Sit on top */
  
    overflow: auto; /* Enable scroll if needed */


  }


  .no-click{
    pointer-events: none;
  }